@page
@model FrejyaBåtHuset_WebApplication_Front_end.Pages.AndraaktiviteterDeleteModel
@{
    ViewData["Title"] = "Andraaktiviteter Delete";
}

    <div>
        <form method="post">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.otheractivitiesdetails.ActivityName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.otheractivitiesdetails.ActivityName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.otheractivitiesdetails.ActivityTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.otheractivitiesdetails.ActivityTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.otheractivitiesdetails.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.otheractivitiesdetails.Price)
                </dd>
                <dd class="col-sm-10">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                </dd>
            </dl>
            </form>
    </div>
<div>   
    <a asp-page="/Andra/AndraaktiviteterList">Back to List</a>
</div>


