@page
@model FrejyaBåtHuset_WebApplication_Front_end.Pages.BåthusetResa.AndraActiviteterdetailsModel
@{
    ViewData["Title"] = "AndraActiviteterdetails";
}

<h1>AndraActiviteterdetails</h1>


<p>
    <a asp-page="AndraActiviteterdetails"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.listofactivitities[0].OtherActivities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listofactivitities[0].ActivitiesTiming)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.listofactivitities[0].Price)
                
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listofactivitities)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherActivities)
                </td>
                <td>
                    
                    @Html.DisplayFor(modelItem => item.ActivitiesTiming)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                
                @*<td>
                    <a asp-page="./AndraActiviteterdetails" asp-route-id="@item.AndraaktiviteterID">AndraActiviteterdetails</a> |
                    
                </td>*@
                
            </tr>
        }
    </tbody>
</table>