@page
@model FrejyaBåtHuset_WebApplication_Front_end.Pages.BåthusetResa.OtherActivitiesDetailsModel
@{
    ViewData["Title"] = "OtherActivitiesDetails";
}

<h1>OtherActivitiesDetails</h1>
<div>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.otheractivitiesdetails.NameOfactivity)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.otheractivitiesdetails.NameOfactivity)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.otheractivitiesdetails.ActivitiesTime)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.otheractivitiesdetails.ActivitiesTime)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.otheractivitiesdetails.Price)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.otheractivitiesdetails.Price)
    </dd>

</dl>
</div>
<div>
    <a asp-page="./OtherActivitiesDetails" asp-route-id="@Model.otheractivitiesdetails.AndraaktiviteterID">Details</a> :
    <a asp-page="./OtherActivitiesList">Back to List</a>
</div>

